@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Header Settings */

.header {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin: 10rem, auto;
}

h1 {
    margin: 0;
    font-size: 4rem;
}

h5 {
    font-size: 1rem;
    margin: 0;
}

/* Main Menu Settings */

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    margin: 1rem 0.5rem;
    padding: 0.75rem;
    border-radius: 0.6rem;
    width: 10rem;
    height: 3rem;
}

/* Week Menu Settings */

.week-menu {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    max-width: 80vw;
}

.day-menu {
    width: 25vw;
    font-size: 1.2rem;
    margin: 0.2rem 0.5rem;
}

.menu-item {
    margin: 0.5rem 0;
}

.day-menu h3 {
    font-size: 2rem;
    font-weight: 700;
}

.menu-item span {
    font-weight: 700;
}

/* Modal Settings */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}
  
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
  
.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
    max-height: 80vh;
    margin: 0px auto;
    padding: 1.2rem 1.4rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.4s ease;
}
  
.modal-header h3 {
    margin-top: 0;
    font-size: 2rem;
}
  
.modal-body {
    margin: 1.2rem 0;
    overflow-y: auto;
    font-size: 1.6rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-form-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.modal-form span {
    font-weight: 700;
    margin: 1rem 0;
}
  
.modal-default-button {
    float: right;
}

.modal-body > span {
    color: rgb(255, 53, 53);
}

input {
    margin: 0.5rem;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*/
  
.modal-enter {
    opacity: 0;
}
  
.modal-leave-active {
    opacity: 0;
}
  
.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Styles Overrides for Smaller Screens */
  
@media (max-width: 768px) {

    .week-menu {
        max-width: 90vw;
    }

    .day-menu {
        width: 35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal-container {
        max-width: 60vw;
    }

    .modal-form-radio {
        flex-direction: column;
    }

    input {
        font-size: 1.4rem;
        height: 2.5rem;
    }

}

@media (max-width: 425px) {

    h1 {
        margin: 0;
        font-size: 2.4rem;
    }

    .main-menu {
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    button {
        margin: 0.5rem 0.5rem;
        padding: 0.75rem;
        border-radius: 0.6rem;
    }

    .day-menu {
        width: 60vw;
        font-size: 1.4rem;
    }

    .day-menu h3 {
        margin: 0.5rem auto;
    }

    .modal-container {
        max-width: 80vw;
    }

    input {
        font-size: 1.2rem;
        height: 2rem;
    }
    
}
